@media screen and (min-width: 320px)and (max-width: 574px){
    
    :root{
        --font-size-main: 10px;
        --font-size-light: 12px;
        --font-size-h2: 30px;
        --font-size-h3: 18px;
        --font-size-h5: 14px;
    }
    
    .wrapper{
        width: 78%;
        margin: 0 auto;
    }

    h1{
        margin-bottom: 1rem;
    }

    .heading__mobile{
        visibility: visible;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        padding-top: 1rem;
    }

    .heading__content-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        justify-content:center;
        gap: 2rem;
        border-bottom: solid .06rem var(--color-main);
        box-shadow: 0px 2px 6px -8px rgba(255, 255, 255, 0.3);
        padding-bottom: 3rem;
    }

    .heading__content-mobile_text{
        display: flex;
        align-items: flex-end;
    }
    
    .content-mobile_name h3:nth-of-type(2){
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .heading__content-block_contact{
        margin-top: 1rem;
    }

    .heading__content{
        visibility: hidden;
        position: absolute;
    }

    .work-grid{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;        
    }
        
    .work-grid>div{
        display: flex;
        flex-direction: column;   
        border-radius: 1rem;
        border: solid .06rem gray;
        justify-content: space-between;
        text-align: center;
        align-items: center;    
        opacity: 1;
        width: 250px;
        height: 150px; 
        background-color: #040b59;
        box-shadow: .16rem .4rem .8rem 0 rgba(255, 255, 255, 0.9);    
    }

    .work-grid_piture{
        visibility: hidden;
        width: 200px;
        height: 0px;
    }
    
    .a__btn{
        flex-direction: column;
    }
}