@media screen and (min-width: 1024px) and (max-width: 1399px){
  
    :root{
        --font-size-main: 14px;
        --font-size-light: 16px;
        --font-size-h2: 46px;
        --font-size-h3: 24px;
        --font-size-h5: 18px;
    }
    
    .wrapper{
        width: 90%;
        margin: 0 auto;
    }

    .heading__content{
        padding: 1rem;
        gap: 1rem;
    }
    
    .work-grid{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;        
    }
        
    .work-grid>div{
        display: flex;
        flex-direction: column;   
        border-radius: 1rem;
        border: solid .06rem gray;
        justify-content: space-between;
        text-align: center;
        align-items: center;    
        opacity: 1;
        width: 450px;
        height: 600px; 
        background-color: #040b59;
        box-shadow: .16rem .4rem .8rem 0 rgba(255, 255, 255, 0.9);    
    }

    .work-grid_piture{
        width: 400px;
        height: 450px;
    } 
}